[submodule "idevicerestore"]
	path = external/idevicerestore
	url = https://github.com/dkxuanye/idevicerestore.git
	branch = experiment/libirecovery-1.3-compat
[submodule "tsschecker"]
	path = external/tsschecker
	url = https://github.com/1Conan/tsschecker.git
	branch = iOS16
